<%= error %> 
<body>    
    <form action="/movie/edit/<%= movies.id %>" method="POST">
        <div class="container">
            <h1>Input New Movies</h1>
            <p>Please fill in this form to input data.</p>
            <hr>
            
            <label for="name"><b>Name</b></label><br>
            <input type="text" value="<%= movies.name %> " name="name" id="name">
            <br>
            <label for="year"><b>Released Year</b></label><br>
            <input type="year" value="<%= movies.released_year %> " name="year" id="year">
            <br>
            <label for="sel-genre"><b> Genre :</b></label><br>
            <select name="genre" id="sel-genre"> 
                <option value="Animation" <%= movies.genre === "Animation" ? "selected" : ""%> >Animation</option>
                <option value="Comedy" <%= movies.genre === "Comedy" ? "selected" : ""%> >Comedy</option>
                <option value="Drama" <%= movies.genre === "Drama" ? "selected" : ""%> >Drama</option>
                <option value="Horor" <%= movies.genre === "Horor" ? "selected" : ""%> >Horor</option>
                <option value="Religious" <%= movies.genre === "Religious" ? "selected" : ""%> >Religious</option>
                <option value="Thriller" <%= movies.genre === "Thriller" ? "selected" : ""%> >Thriller</option>
                <option value="Action" <%= movies.genre === "Action" ? "selected" : ""%> >Action</option>
            </select><br>
            <label for=""><b>Production House :</b></label><br>
            <select name="productionHouseId" id="">
                <% prod.forEach(p =>{ %>
                <% if(+movies.productionHouseId === +p.id) { %>
                    <option value="<%= p.id %> " selected><%= p.name_prodHouse %> </option>
                <% } else { %> 
                <option value="<%= p.id %>"><%= p.name_prodHouse %> </option>
                <% } %>
                <% }) %> 
                </select>
            <button type="submit" class="btn">Input</button>

            <hr>
            
        </div>
        
        <div class="container signin">
            <p>Do you want to cancel the input? <button><a href="/movie">Back Home</a></button>.</p>
        </div>
    </form>
</body>